.botn-blanco {
  align-items: center;
  background-color: var(--blanco);
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  height: 40px;
  padding: 4px 16px;
  position: relative;
}

.botn-blanco .add-instance {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.botn-blanco .text-wrapper {
  color: var(--azul-base-u-tad);
  font-family: var(--caption-1-font-family);
  font-size: var(--caption-1-font-size);
  font-style: var(--caption-1-font-style);
  font-weight: var(--caption-1-font-weight);
  letter-spacing: var(--caption-1-letter-spacing);
  line-height: var(--caption-1-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
